---
layout: page
title: Home
priority: 2
---
<h1 class="min-head">ALL NOTES</h1>

<div id="search-searchbar"></div>

<div class="post-list" id="search-hits">
  {% for post in paginator.posts %}
  <a class="post-preview" href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}">
    <span class="head">
      <h3>{{ post.title }}</h3>
      <h6>{{ post.date | date: "%b %d, %Y" }}</h6>
    </span>
    <div class="p">
      {{ post.excerpt }}...
    </div>
  </a>
  {% endfor %}
</div>

<div id="pagination">
  <!-- Pagination widget will appear here -->
</div>
{% include algolia.html %}
