{% assign pages_list = site.pages | uniq: "title" | sort: "in_nav" %}
<header class="header">
	<div class="container">
		<nav>
			<ul>
				{% for node in site.data.navigation %}
				<li><a class="{% if node[0] == "home" %}home {% endif %}{% if page.title == node[1].title %}active{% endif %}" href="{% unless node[1].type %}{% if node[1].type != "external" %}{{ site.baseurl }}/{% endif %}{% endunless %}{{ node[1].url }}" target="{{node[1].target}}">{% if node[1].title == "Home" %}{{ site.title | remove: " " | upcase }}{% else %}{{ node[1].title | upcase }}{% endif %}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
