---
layout: compress
---
<!DOCTYPE html>
<html lang="es" class="no-js">
  {% include head.html %}
  <body>
    <div id="perspective" class="perspective effect">
      <div class="page">
        <div class="wrapper">
          <div class="sidebar">
            <a id="showMenu" href="#" class="menu" title="Menu">
              <div class="arrow-icon">
                <span class="left-bar"></span>
                <span class="right-bar"></span>
              </div>
            </a>
          </div>
          <div class="content">
            <div class="container {% if page.fluid or layout.fluid %}fluid{% endif %}">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      <nav class="outer-nav left vertical">
        {% assign sorted_pages = site.pages | sort: "priority" %}
        {% for page in sorted_pages %}
          {% if page.priority %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
				{% endfor %}
      </nav>
    </div>
    <script src="{{ site.url }}/assets/js/classie.js"></script>
    <script src="{{ site.url }}/assets/js/menu.js"></script>

  </body>
</html>
